body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
}
.todosContainer {
    width: 22rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    border: 0.1rem solid black;
    background: linear-gradient( to left top, rgb(68, 226, 73), rgb(228, 65, 65));
    

    .todoItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        span {
            color: black;
            font-weight: 500;
            font-size: 1.4rem;   
        }
        
        .done {
            color: black;
            text-decoration: line-through;
            text-decoration-thickness: 0.1em;  
        } 
    }
        button {
            margin: 0.5rem;
            padding: 0.3rem;
            border: 0.01rem solid black;
            box-shadow: 0rem 0.6rem 1rem rgba(0, 0, 0, 0.4);
            
        }
}